
header{
    padding-top: 0% ;
    position: fixed;
    text-align: center;
    color: white;
    background-color:  rgb(30, 30, 75);
    width: 100%;
    
}
body{
    padding-top: 0%;
    cursor: url('JamaicaCollegeLogo.png'), auto;
    background-image:url("prjbkpic.png");
    display: grid;
    background-color:white;
    justify-items: center;
    
    
}
.button-container {
    text-align: center;
    margin-top: 20px;
}

img{
   
    height: 63%;
    width: 27%;
}

button{
    color: white;
    background-color: rgb(30, 30, 75);
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    width: 100%;
    

}

button:hover{
    transition: background-color 0.9s ease; 
    background-color: white;
    color: rgb(30, 30,75);
    cursor: pointer;
}
div{
    display: grid;
    padding-top:21%;
    
}
div.Article{
    width:100%;
    
}
nav{
    padding-right:72%;
    border-color:rgb(30, 30,75);
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
nav li{
    padding-right: 7%;
}
nav a:hover {
    background-color: #555;
}
.linkbutton{
    border-style: none;
    height:27px;
    width:108%;
    
}

article{
    justify-items: center;
    width:100%;
    color: white;
    background-color: rgb(30, 30,75);
}
br{
    background-color: white;
}
