<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library Rental System</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
      integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="form.css" />
  </head>
  <body>
    <header class="site-header">
      <div id="toast-container" class="toast-container"></div>

      <nav class="main-nav">
        <div class="logo">
          <img src="assets/jc_logo.jpg" alt="jc-logo" />
          <h2>Jamaica College Book Rental Software</h2>
        </div>
        <ul>
          <li><a href="form.html" class="nav-link active">Add Rentals/Books</a></li>
          <li><a href="outs.html" class="nav-link">View Rental Details</a></li>
        </ul>
      </nav>
    </header>
    <div id="bookModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <div id="book-display-modal">He</div>
      </div>
    </div>

    <main class="container">
      <section id="addBook">
        <div class="card">
          <div class="card-header">
            <img src="assets/cool-jc-logo.png" width="200px" alt="jc-logo" />
            <h3 class="formTitle">Add / Modify Book</h3>
          </div>

          <hr />
          <form class="card-form">
            <div class="input">
              <input
                id="title"
                type="text"
                class="input-field"
                required
                value="To Kill a Mockingbird by Harper Lee"
                placeholder="Enter the Title of the Book"
              />
              <label class="input-label">Title</label>
            </div>
            <div class="input">
              
              <input
                id="price"
                type="number"
                class="input-field"
                required
                value="3000"
                placeholder="Enter the Price of the Book"
                />
              <label class="input-label">Price (JMD)</label>
            </div>
            <div class="input">
              <input
                id="grade"
                type="number"
                class="input-field"
                required
                placeholder="Enter the Form Number"
                value="7"
                min=1 
                max=7
              />
              <label class="input-label">Grade Level</label>
            </div>
            <div class="input">
              <input
                id="Authors"
                type="text"
                class="input-field"
                required
                value="Harper Lee"
                placeholder="Enter the Author(s) of the Book"
              />
              <label class="input-label">Authors (Separated by commas)</label>
            </div>
            <div class="input">
              <input
                id="Publisher"
                type="text"
                class="input-field"
                required
                value="J. B. Lippincott & Co."
              />
              <label class="input-label">Publisher</label>
            </div>
            <div class="input">
              <input
                id="ISBN"
                type="text"
                class="input-field"
                required
                value="978-0-00000-000-0"
              />
              <label class="input-label">ISBN</label>
            </div>
            <div class="action">
              <button id="saveBook" class="action-button">Save Book</button>
            </div>
          </form>
        </div>
      </section>

      <section id="addRental">
        <div class="card">
          <div class="card-header">
            <img src="assets/cool-jc-logo.png" width="200px" alt="jc-logo" />
            <h3 class="formTitle">Add / Modify Rental</h3>
          </div>
          <hr />
          <form class="card-form" id="rentalForm">
            <div class="input">
              <input
                id="studentName"
                type="text"
                class="input-field"
                required
                value="John Doe"
                placeholder="Enter the name of the student"
              />
              <label class="input-label">Student Name</label>
            </div>
            <div class="input">
              <input
                id="schoolID"
                type="text"
                class="input-field"
                required
                value="AB123456"
                placeholder="Enter the ID of the student"
              />
              <label class="input-label">School ID</label>
            </div>
            <div class="input">
              <input
                id="contactInfo"
                type="text"
                class="input-field"
                required
                value="123-456-7890"
                placeholder="Enter the contact details of the student"
              />
              <label class="input-label">Contact Information</label>
            </div>
            <div class="input">
              <input
                id="rentalGradeLevel"
                type="number"
                class="input-field"
                required
                value="7"
                placeholder=""
              />
              <label class="input-label">Grade Level</label>
            </div>
            <label class="input-label">Books</label>
            <button id="viewBooks" class="action-button">View Books</button>
            <div id="book-display"></div>

            <div class="input">
              <input
                id="dueDate"
                type="date"
                class="input-field"
                required
              />
              <label>Due Date</label>
            </div>
            <div class="action">
              <button id="saveRental" class="action-button">Save Rental</button>
            </div>
          </form>
        </div>
      </section>
    </main>
    <footer>
      <p>&copy; 2023 Jamaica College</p>
    </footer>
    <script src="form.js"></script>
  </body>
</html>
