<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library Rental System - Login</title>
    <link rel="stylesheet" href="sign.css" />
  </head>
  <body>
    <header class="site-header">
      <div id="toast-container" class="toast-container"></div>
      <nav class="main-nav">
        <a href="logo.html" class="logo">
          <img src="assets/jc_logo.jpg" alt="jc-logo" />
        </a>
      </nav>
    </header>
    <main class="container">
      <section id="login">
        <div class="card">
          <h2>Admin Login / Register</h2>
          <hr />
          <form class="card-form">
            <div class="input">
              <input
                id="username"
                type="text"
                class="input-field"
                required
                placeholder="Enter Username"
              />
              <label class="input-label">Username</label>
            </div>
            <div class="input">
              <input
                id="password"
                type="password"
                class="input-field"
                required
                placeholder="Enter Password"
              />
              <label class="input-label">Password</label>
            </div>
            <div class="action">
              <button id="loginButton" class="action-button">Login</button>
              <button id="registerButton" class="action-button">Register</button>
            </div>
          
          </form>
        </div>
      </section>
    </main>
    <footer>
      <p>&copy; 2023 Jamaica College</p>
    </footer>
    <script src="sign.js"></script>
  </body>
</html>
